<% include partials/header %>
  <div id='content'>
    <div id='releaseHeader'><%= name %> (<%= year %>)</div>
    <div class='releaseInfo'>
      <div><img id='releaseLarge' src='<%= imgsrc %>'></div>
    </div>
    <div class='releaseInfo'>
      <% if (tracklist.length){ %>

        <ol id='tracklist'>
          <% tracklist.map(track => { %>
            <li><%= track %></li>
          <% }) %>
        </ol>
      <% } %>

      <% if (otherVersions.length) { %>
       Other Versions:
       <ul>
       <% otherVersions.map(other => { %>
         <li><a href='/releases/<%= other.id %>'><%= other.name %></a></li>
       <% }) %>
       </ul>
      <% } %>
    </div>
  </div>
  <script>
  </script>
<% include partials/footer %>
