<% include partials/header %>
  <div id='content'>
    <div id='releaseHeader'><%= release.name %> (<%= release.year %>)</div>
    <div class='releaseInfo'>
      <div><img id='releaseLarge' src='/<%= release.imgsrc %>'></div>
    </div>
    <% if (release.story){ %>
      <div class='releaseInfo'><p><%= release.story %></div>
    <% } %>
    <div class='releaseInfo'>
      <ol id='tracklist'>
        <% release.tracklist.map(track => { %>
          <li><%= track %></li>
        <% }) %>
      </ol>
      Label: <%= release.label %><br />
      
      <% if (release.format){ %>
        Format: <%= release.format %><br />
      <% } %>

      <% if (release.recorded){ %>
        Recorded By: <%= release.recorded %><br />
      <% } %>

      <% if (release.mastered){ %>
        Mastered By: <%= release.mastered %><br />
      <% } %>

      <% if (otherVersions.length) { %>
      <br />
       Other Versions:
       <ul>
       <% otherVersions.map(other => { %>
         <li><a href='/releases/<%= other.id %>'><%= other.name %></a></li>
       <% }) %>
       </ul>
      <% } %>
    </div>
  </div>
  <script>
  </script>
<% include partials/footer %>
