<% include partials/header %>
  <div id='content'>
    <div id='releaseHeader'><%= name %> (<%= year %>)</div>
    <div class='releaseInfo'>
      <div><img id='releaseLarge' src='/<%= imgsrc %>'></div>
    </div>
    <% if (story){ %>
      <div class='releaseInfo'><p><%= story %></div>
    <% } %>
    <div class='releaseInfo'>
      <ol id='tracklist'>
        <% tracklist.map(track => { %>
          <li><%= track %></li>
        <% }) %>
      </ol>
      Label: <%= label %><br />

      <% if (format){ %>
        Format: <%= format %><br />
      <% } %>

      <% if (recorded){ %>
        Recorded By: <%= recorded %><br />
      <% } %>

      <% if (mastered){ %>
        Mastered By: <%= mastered %><br />
      <% } %>

      <% if (otherVersions.length) { %>
      <br />
       Other Versions:
       <ul>
       <% otherVersions.map(other => { %>
         <li><a href='/releases/<%= other.id %>'><%= other.name %></a></li>
       <% }) %>
       </ul>
      <% } %>
    </div>
  </div>
  <script>
  </script>
<% include partials/footer %>
