<% include partials/header %>
    <div id='content'>
      <div>
        <h2>Show Archive</h2>
        <table id='shows'>
          <tr>
            <th>Date</th>
            <th>Venue</th>
            <th>Address</th>
            <th>Time</th>
            <th>Notes</th>
            <th>FB event Page</th>
          </tr>
          <% shows.map( show => { %>
            <tr id='showid-<%= show.id %>'>
              <td class='showInfo'>
                <%= show.date.getMonth()+1 %>/<%= show.date.getDate() %>/<%= show.date.getYear() - 100 %>
              </td>
              <td class='showInfo'>
                <%= show.venue %>
              </td>
              <td class='showInfo'>
                <%= show.address %>
              </td>
              <td class='showInfo'>
                <%= show.time %>
              </td>
              <td class='showInfo'>
                <%= show.notes %>
              </td>
              <% if ( show.links ) { %>
                <td class='showInfo'>
                  <a href="<%= show.links %>">XXX</a>
                </td>
              <% } %>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>
    <script>
    </script>
<% include partials/footer %>
