<% include partials/header %>
    <div id='content'>
      <div>
        <h2>Show Archive</h2>
        <table id='shows'>
          <tr>
            <th>Date</th>
            <th>Venue</th>
            <th>Address</th>
            <th>Time</th>
            <th>Notes</th>
            <th>FB event Page</th>
          </tr>
          <% shows.map( show => { %>
            <tr>
              <td class='showInfo'><%= show.date.getMonth()+1 %>/<%= show.date.getDate() %>/<%= show.date.getYear() - 100 %></td>
              <td class='showInfo'><%= show.venue %></td>
              <td class='showInfo'><%= show.address %></td>
              <td class='showInfo'><%= show.time %></td>
              <td class='showInfo'><%= show.notes %></td>
              <% if ( show.links ) { %>
                <td class='showInfo'><a href="<%= show.links %>">XXX</a></td>
              <% } %>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>
    <script>
/*
      const showsEl = document.getElementById('shows');
      fetch( "/getAllShows",{
        method: "GET",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json"
        }
      })
      .then(response => response.json())
      .then(showList => {
        console.log(showList);
        showList.map(show => {
          const showInfo = document.createElement('tr');
          const date = document.createElement('td');
          var showTimestamp = new Date(show.date);
          date.textContent = `${show.date.toString().slice(5,-14)}-${show.date.toString().slice(0,-20)}`;
          console.log(show.date.toString().slice(5,2))
          const venue = document.createElement('td');
          venue.textContent = show.venue;
          const address = document.createElement('td');
          address.textContent = show.address;
          const time = document.createElement('td');
          time.textContent = show.time;
          const notes = document.createElement('td');
          notes.textContent = show.notes;
          const fbLink = document.createElement('td');
          if(show.links){
            fbLink.innerHTML = `<a href="${show.links}">Link</a>`;
          }

          showInfo.appendChild(date);
          showInfo.appendChild(venue);
          showInfo.appendChild(address);
          showInfo.appendChild(time);
          showInfo.appendChild(notes);
          showInfo.appendChild(fbLink);
          showsEl.appendChild(showInfo);
        })
      })

    </script>
<% include partials/footer %>
